@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  @apply bg-neutral-900/80;
}
.transition-width {
  transition: width 0.3s ease;
}
.transition-all {
  transition-property: all;
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and newer Edge */
}

/* Hide both horizontal and vertical scrollbars for Firefox */
body {
  scrollbar-width: none;
}
.card-arrow{
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}



.transform-origin{
  transform-origin: 0 0;
}
.topSellerCardTransition {
  transition-property: flex;
  transition-timing-function: ease-out; /* The easing function for the transition */
  transition-duration: 0.7s; /* The duration of the transition */
 transition-timing-function: cubic-bezier(0.05, 0.6, 0.4, 0.9);

}

.bg-custom-image {
  background-image: url("/assas1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.bg-custom-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1; 
}
.bg-custom-image::before{
  content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 400px;
   background: linear-gradient(180deg, rgba(0,0,0,0), rgb(23 23 23 / 1));
  z-index:-1,
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
